---
layout: home
tweet1:
  tweet: "I met so many of the poets/artist that I now lean on at @VocalsAndVerses &
every show I’ve been too has been better than the last. Check them"
  link: https://twitter.com/SophiaThakur/status/976059493829304320
tweet2:
  tweet: A lot of Brit up and coming artists that have graced the @VocalsAndVerses stage are blowing up and winning Grammys <span class="emoji">🙌🏾</span>
  link: https://twitter.com/TobiRachel_/status/864582081556480001
---
<div class="usp section">
  <div class="container">
    <p class="call-out call-out-center">Vocals & Verses is an event dedicated to showcasing the finest
      spoken word and live music in the UK.</p>
    <div class="underline thumbnail">
      {% include paintbrush-underline.html %}
    </div>
  </div>
</div>

<div class="why-go why-go-style-1 section section-fifty-fifty">
  <div class="container">

    <div class="section-image">
      <div class="dots">
        <svg width="240" height="358" viewBox="0 0 240 358" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>
            Dots
          </title>
          <defs>
            <path id="path-1" d="M0 0h246v366H0z"/>
            <path id="path-3" d="M0 0h243v361H0z"/>
          </defs>
          <g id="Page-1" fill="none" fill-rule="evenodd" opacity=".398">
            <g id="Home---Destkop" transform="translate(-702 -1632)">
              <g id="Section-1" transform="translate(73 1169)">
                <g id="Images">
                  <g id="Dots">
                    <g transform="translate(626 458)">
                      <mask id="mask-2" fill="#fff">
                        <use xlink:href="#path-1"/>
                      </mask>
                      <g mask="url(#mask-2)" fill="#FFDC05">
                        <g transform="rotate(90 119 124)">
                          <circle id="Oval" cx="16" cy="3" r="3"/>
                          <circle id="Oval" cx="3" cy="3" r="3"/>
                          <circle id="Oval" cx="29" cy="3" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="3" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="3" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="3" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="3" r="3"/>
                          <circle id="Oval" cx="94" cy="3" r="3"/>
                          <circle id="Oval" cx="16" cy="16" r="3"/>
                          <circle id="Oval" cx="3" cy="16" r="3"/>
                          <circle id="Oval" cx="29" cy="16" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="16" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="16" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="16" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="16" r="3"/>
                          <circle id="Oval" cx="94" cy="16" r="3"/>
                          <circle id="Oval" cx="16" cy="29" r="3"/>
                          <circle id="Oval" cx="3" cy="29" r="3"/>
                          <circle id="Oval" cx="29" cy="29" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="29" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="29" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="29" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="29" r="3"/>
                          <circle id="Oval" cx="94" cy="29" r="3"/>
                          <circle id="Oval" cx="16" cy="42" r="3"/>
                          <circle id="Oval" cx="3" cy="42" r="3"/>
                          <circle id="Oval" cx="29" cy="42" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="42" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="42" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="42" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="42" r="3"/>
                          <circle id="Oval" cx="94" cy="42" r="3"/>
                          <circle id="Oval" cx="16" cy="55" r="3"/>
                          <circle id="Oval" cx="3" cy="55" r="3"/>
                          <circle id="Oval" cx="29" cy="55" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="55" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="55" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="55" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="55" r="3"/>
                          <circle id="Oval" cx="94" cy="55" r="3"/>
                          <circle id="Oval" cx="16" cy="68" r="3"/>
                          <circle id="Oval" cx="3" cy="68" r="3"/>
                          <circle id="Oval" cx="29" cy="68" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="68" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="68" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="68" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="68" r="3"/>
                          <circle id="Oval" cx="94" cy="68" r="3"/>
                          <circle id="Oval" cx="16" cy="81" r="3"/>
                          <circle id="Oval" cx="3" cy="81" r="3"/>
                          <circle id="Oval" cx="29" cy="81" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="81" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="81" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="81" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="81" r="3"/>
                          <circle id="Oval" cx="94" cy="81" r="3"/>
                          <circle id="Oval" cx="16" cy="94" r="3"/>
                          <circle id="Oval" cx="3" cy="94" r="3"/>
                          <circle id="Oval" cx="29" cy="94" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="94" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="94" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="94" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="94" r="3"/>
                          <circle id="Oval" cx="94" cy="94" r="3"/>
                          <circle id="Oval" cx="16" cy="107" r="3"/>
                          <circle id="Oval" cx="3" cy="107" r="3"/>
                          <circle id="Oval" cx="29" cy="107" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="107" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="107" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="107" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="107" r="3"/>
                          <circle id="Oval" cx="94" cy="107" r="3"/>
                          <circle id="Oval" cx="16" cy="120" r="3"/>
                          <circle id="Oval" cx="3" cy="120" r="3"/>
                          <circle id="Oval" cx="29" cy="120" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="120" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="120" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="120" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="120" r="3"/>
                          <circle id="Oval" cx="94" cy="120" r="3"/>
                          <circle id="Oval" cx="16" cy="133" r="3"/>
                          <circle id="Oval" cx="3" cy="133" r="3"/>
                          <circle id="Oval" cx="29" cy="133" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="133" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="133" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="133" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="133" r="3"/>
                          <circle id="Oval" cx="94" cy="133" r="3"/>
                          <circle id="Oval" cx="16" cy="146" r="3"/>
                          <circle id="Oval" cx="3" cy="146" r="3"/>
                          <circle id="Oval" cx="29" cy="146" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="146" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="146" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="146" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="146" r="3"/>
                          <circle id="Oval" cx="94" cy="146" r="3"/>
                          <circle id="Oval" cx="16" cy="159" r="3"/>
                          <circle id="Oval" cx="3" cy="159" r="3"/>
                          <circle id="Oval" cx="29" cy="159" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="159" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="159" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="159" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="159" r="3"/>
                          <circle id="Oval" cx="94" cy="159" r="3"/>
                          <circle id="Oval" cx="16" cy="172" r="3"/>
                          <circle id="Oval" cx="3" cy="172" r="3"/>
                          <circle id="Oval" cx="29" cy="172" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="172" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="172" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="172" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="172" r="3"/>
                          <circle id="Oval" cx="94" cy="172" r="3"/>
                          <circle id="Oval" cx="16" cy="185" r="3"/>
                          <circle id="Oval" cx="3" cy="185" r="3"/>
                          <circle id="Oval" cx="29" cy="185" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="185" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="185" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="185" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="185" r="3"/>
                          <circle id="Oval" cx="94" cy="185" r="3"/>
                          <circle id="Oval" cx="16" cy="198" r="3"/>
                          <circle id="Oval" cx="3" cy="198" r="3"/>
                          <circle id="Oval" cx="29" cy="198" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="198" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="198" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="198" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="198" r="3"/>
                          <circle id="Oval" cx="94" cy="198" r="3"/>
                          <circle id="Oval" cx="16" cy="211" r="3"/>
                          <circle id="Oval" cx="3" cy="211" r="3"/>
                          <circle id="Oval" cx="29" cy="211" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="211" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="211" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="211" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="211" r="3"/>
                          <circle id="Oval" cx="94" cy="211" r="3"/>
                          <circle id="Oval" cx="16" cy="224" r="3"/>
                          <circle id="Oval" cx="3" cy="224" r="3"/>
                          <circle id="Oval" cx="29" cy="224" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="224" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="224" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="224" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="224" r="3"/>
                          <circle id="Oval" cx="94" cy="224" r="3"/>
                          <circle id="Oval" cx="16" cy="237" r="3"/>
                          <circle id="Oval" cx="3" cy="237" r="3"/>
                          <circle id="Oval" cx="29" cy="237" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="237" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="237" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="237" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="237" r="3"/>
                          <circle id="Oval" cx="94" cy="237" r="3"/>
                          <circle id="Oval" cx="120" cy="3" r="3"/>
                          <circle id="Oval" cx="107" cy="3" r="3"/>
                          <circle id="Oval" cx="133" cy="3" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="3" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="3" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="3" r="3"/>
                          <circle id="Oval" cx="120" cy="16" r="3"/>
                          <circle id="Oval" cx="107" cy="16" r="3"/>
                          <circle id="Oval" cx="133" cy="16" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="16" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="16" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="16" r="3"/>
                          <circle id="Oval" cx="120" cy="29" r="3"/>
                          <circle id="Oval" cx="107" cy="29" r="3"/>
                          <circle id="Oval" cx="133" cy="29" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="29" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="29" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="29" r="3"/>
                          <circle id="Oval" cx="120" cy="42" r="3"/>
                          <circle id="Oval" cx="107" cy="42" r="3"/>
                          <circle id="Oval" cx="133" cy="42" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="42" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="42" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="42" r="3"/>
                          <circle id="Oval" cx="120" cy="55" r="3"/>
                          <circle id="Oval" cx="107" cy="55" r="3"/>
                          <circle id="Oval" cx="133" cy="55" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="55" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="55" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="55" r="3"/>
                          <circle id="Oval" cx="120" cy="68" r="3"/>
                          <circle id="Oval" cx="107" cy="68" r="3"/>
                          <circle id="Oval" cx="133" cy="68" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="68" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="68" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="68" r="3"/>
                          <circle id="Oval" cx="120" cy="81" r="3"/>
                          <circle id="Oval" cx="107" cy="81" r="3"/>
                          <circle id="Oval" cx="133" cy="81" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="81" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="81" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="81" r="3"/>
                          <circle id="Oval" cx="120" cy="94" r="3"/>
                          <circle id="Oval" cx="107" cy="94" r="3"/>
                          <circle id="Oval" cx="133" cy="94" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="94" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="94" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="94" r="3"/>
                          <circle id="Oval" cx="120" cy="107" r="3"/>
                          <circle id="Oval" cx="107" cy="107" r="3"/>
                          <circle id="Oval" cx="133" cy="107" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="107" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="107" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="107" r="3"/>
                          <circle id="Oval" cx="120" cy="120" r="3"/>
                          <circle id="Oval" cx="107" cy="120" r="3"/>
                          <circle id="Oval" cx="133" cy="120" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="120" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="120" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="120" r="3"/>
                          <circle id="Oval" cx="120" cy="133" r="3"/>
                          <circle id="Oval" cx="107" cy="133" r="3"/>
                          <circle id="Oval" cx="133" cy="133" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="133" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="133" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="133" r="3"/>
                          <circle id="Oval" cx="120" cy="146" r="3"/>
                          <circle id="Oval" cx="107" cy="146" r="3"/>
                          <circle id="Oval" cx="133" cy="146" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="146" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="146" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="146" r="3"/>
                          <circle id="Oval" cx="120" cy="159" r="3"/>
                          <circle id="Oval" cx="107" cy="159" r="3"/>
                          <circle id="Oval" cx="133" cy="159" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="159" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="159" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="159" r="3"/>
                          <circle id="Oval" cx="120" cy="172" r="3"/>
                          <circle id="Oval" cx="107" cy="172" r="3"/>
                          <circle id="Oval" cx="133" cy="172" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="172" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="172" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="172" r="3"/>
                          <circle id="Oval" cx="120" cy="185" r="3"/>
                          <circle id="Oval" cx="107" cy="185" r="3"/>
                          <circle id="Oval" cx="133" cy="185" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="185" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="185" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="185" r="3"/>
                          <circle id="Oval" cx="120" cy="198" r="3"/>
                          <circle id="Oval" cx="107" cy="198" r="3"/>
                          <circle id="Oval" cx="133" cy="198" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="198" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="198" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="198" r="3"/>
                          <circle id="Oval" cx="120" cy="211" r="3"/>
                          <circle id="Oval" cx="107" cy="211" r="3"/>
                          <circle id="Oval" cx="133" cy="211" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="211" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="211" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="211" r="3"/>
                          <circle id="Oval" cx="120" cy="224" r="3"/>
                          <circle id="Oval" cx="107" cy="224" r="3"/>
                          <circle id="Oval" cx="133" cy="224" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="224" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="224" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="224" r="3"/>
                          <circle id="Oval" cx="120" cy="237" r="3"/>
                          <circle id="Oval" cx="107" cy="237" r="3"/>
                          <circle id="Oval" cx="133" cy="237" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="237" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="237" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="237" r="3"/>
                        </g>
                      </g>
                    </g>
                    <g transform="translate(626 460)">
                      <mask id="mask-4" fill="#fff">
                        <use xlink:href="#path-3"/>
                      </mask>
                      <g mask="url(#mask-4)" fill="#FFDC05">
                        <g transform="rotate(90 28.5 214.5)">
                          <circle id="Oval" cx="16" cy="3" r="3"/>
                          <circle id="Oval" cx="3" cy="3" r="3"/>
                          <circle id="Oval" cx="29" cy="3" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="3" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="3" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="3" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="3" r="3"/>
                          <circle id="Oval" cx="94" cy="3" r="3"/>
                          <circle id="Oval" cx="16" cy="16" r="3"/>
                          <circle id="Oval" cx="3" cy="16" r="3"/>
                          <circle id="Oval" cx="29" cy="16" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="16" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="16" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="16" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="16" r="3"/>
                          <circle id="Oval" cx="94" cy="16" r="3"/>
                          <circle id="Oval" cx="16" cy="29" r="3"/>
                          <circle id="Oval" cx="3" cy="29" r="3"/>
                          <circle id="Oval" cx="29" cy="29" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="29" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="29" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="29" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="29" r="3"/>
                          <circle id="Oval" cx="94" cy="29" r="3"/>
                          <circle id="Oval" cx="16" cy="42" r="3"/>
                          <circle id="Oval" cx="3" cy="42" r="3"/>
                          <circle id="Oval" cx="29" cy="42" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="42" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="42" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="42" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="42" r="3"/>
                          <circle id="Oval" cx="94" cy="42" r="3"/>
                          <circle id="Oval" cx="16" cy="55" r="3"/>
                          <circle id="Oval" cx="3" cy="55" r="3"/>
                          <circle id="Oval" cx="29" cy="55" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="55" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="55" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="55" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="55" r="3"/>
                          <circle id="Oval" cx="94" cy="55" r="3"/>
                          <circle id="Oval" cx="16" cy="68" r="3"/>
                          <circle id="Oval" cx="3" cy="68" r="3"/>
                          <circle id="Oval" cx="29" cy="68" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="68" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="68" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="68" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="68" r="3"/>
                          <circle id="Oval" cx="94" cy="68" r="3"/>
                          <circle id="Oval" cx="16" cy="81" r="3"/>
                          <circle id="Oval" cx="3" cy="81" r="3"/>
                          <circle id="Oval" cx="29" cy="81" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="81" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="81" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="81" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="81" r="3"/>
                          <circle id="Oval" cx="94" cy="81" r="3"/>
                          <circle id="Oval" cx="16" cy="94" r="3"/>
                          <circle id="Oval" cx="3" cy="94" r="3"/>
                          <circle id="Oval" cx="29" cy="94" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="94" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="94" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="94" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="94" r="3"/>
                          <circle id="Oval" cx="94" cy="94" r="3"/>
                          <circle id="Oval" cx="16" cy="107" r="3"/>
                          <circle id="Oval" cx="3" cy="107" r="3"/>
                          <circle id="Oval" cx="29" cy="107" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="107" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="107" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="107" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="107" r="3"/>
                          <circle id="Oval" cx="94" cy="107" r="3"/>
                          <circle id="Oval" cx="16" cy="120" r="3"/>
                          <circle id="Oval" cx="3" cy="120" r="3"/>
                          <circle id="Oval" cx="29" cy="120" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="120" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="120" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="120" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="120" r="3"/>
                          <circle id="Oval" cx="94" cy="120" r="3"/>
                          <circle id="Oval" cx="16" cy="133" r="3"/>
                          <circle id="Oval" cx="3" cy="133" r="3"/>
                          <circle id="Oval" cx="29" cy="133" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="133" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="133" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="133" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="133" r="3"/>
                          <circle id="Oval" cx="94" cy="133" r="3"/>
                          <circle id="Oval" cx="16" cy="146" r="3"/>
                          <circle id="Oval" cx="3" cy="146" r="3"/>
                          <circle id="Oval" cx="29" cy="146" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="146" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="146" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="146" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="146" r="3"/>
                          <circle id="Oval" cx="94" cy="146" r="3"/>
                          <circle id="Oval" cx="16" cy="159" r="3"/>
                          <circle id="Oval" cx="3" cy="159" r="3"/>
                          <circle id="Oval" cx="29" cy="159" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="159" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="159" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="159" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="159" r="3"/>
                          <circle id="Oval" cx="94" cy="159" r="3"/>
                          <circle id="Oval" cx="16" cy="172" r="3"/>
                          <circle id="Oval" cx="3" cy="172" r="3"/>
                          <circle id="Oval" cx="29" cy="172" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="172" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="172" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="172" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="172" r="3"/>
                          <circle id="Oval" cx="94" cy="172" r="3"/>
                          <circle id="Oval" cx="16" cy="185" r="3"/>
                          <circle id="Oval" cx="3" cy="185" r="3"/>
                          <circle id="Oval" cx="29" cy="185" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="185" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="185" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="185" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="185" r="3"/>
                          <circle id="Oval" cx="94" cy="185" r="3"/>
                          <circle id="Oval" cx="16" cy="198" r="3"/>
                          <circle id="Oval" cx="3" cy="198" r="3"/>
                          <circle id="Oval" cx="29" cy="198" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="198" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="198" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="198" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="198" r="3"/>
                          <circle id="Oval" cx="94" cy="198" r="3"/>
                          <circle id="Oval" cx="16" cy="211" r="3"/>
                          <circle id="Oval" cx="3" cy="211" r="3"/>
                          <circle id="Oval" cx="29" cy="211" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="211" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="211" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="211" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="211" r="3"/>
                          <circle id="Oval" cx="94" cy="211" r="3"/>
                          <circle id="Oval" cx="16" cy="224" r="3"/>
                          <circle id="Oval" cx="3" cy="224" r="3"/>
                          <circle id="Oval" cx="29" cy="224" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="224" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="224" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="224" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="224" r="3"/>
                          <circle id="Oval" cx="94" cy="224" r="3"/>
                          <circle id="Oval" cx="16" cy="237" r="3"/>
                          <circle id="Oval" cx="3" cy="237" r="3"/>
                          <circle id="Oval" cx="29" cy="237" r="3"/>
                          <circle id="Oval-Copy" cx="42" cy="237" r="3"/>
                          <circle id="Oval-Copy-2" cx="55" cy="237" r="3"/>
                          <circle id="Oval-Copy-3" cx="68" cy="237" r="3"/>
                          <circle id="Oval-Copy-4" cx="81" cy="237" r="3"/>
                          <circle id="Oval" cx="94" cy="237" r="3"/>
                          <circle id="Oval" cx="120" cy="3" r="3"/>
                          <circle id="Oval" cx="107" cy="3" r="3"/>
                          <circle id="Oval" cx="133" cy="3" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="3" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="3" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="3" r="3"/>
                          <circle id="Oval" cx="120" cy="16" r="3"/>
                          <circle id="Oval" cx="107" cy="16" r="3"/>
                          <circle id="Oval" cx="133" cy="16" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="16" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="16" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="16" r="3"/>
                          <circle id="Oval" cx="120" cy="29" r="3"/>
                          <circle id="Oval" cx="107" cy="29" r="3"/>
                          <circle id="Oval" cx="133" cy="29" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="29" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="29" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="29" r="3"/>
                          <circle id="Oval" cx="120" cy="42" r="3"/>
                          <circle id="Oval" cx="107" cy="42" r="3"/>
                          <circle id="Oval" cx="133" cy="42" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="42" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="42" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="42" r="3"/>
                          <circle id="Oval" cx="120" cy="55" r="3"/>
                          <circle id="Oval" cx="107" cy="55" r="3"/>
                          <circle id="Oval" cx="133" cy="55" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="55" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="55" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="55" r="3"/>
                          <circle id="Oval" cx="120" cy="68" r="3"/>
                          <circle id="Oval" cx="107" cy="68" r="3"/>
                          <circle id="Oval" cx="133" cy="68" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="68" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="68" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="68" r="3"/>
                          <circle id="Oval" cx="120" cy="81" r="3"/>
                          <circle id="Oval" cx="107" cy="81" r="3"/>
                          <circle id="Oval" cx="133" cy="81" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="81" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="81" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="81" r="3"/>
                          <circle id="Oval" cx="120" cy="94" r="3"/>
                          <circle id="Oval" cx="107" cy="94" r="3"/>
                          <circle id="Oval" cx="133" cy="94" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="94" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="94" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="94" r="3"/>
                          <circle id="Oval" cx="120" cy="107" r="3"/>
                          <circle id="Oval" cx="107" cy="107" r="3"/>
                          <circle id="Oval" cx="133" cy="107" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="107" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="107" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="107" r="3"/>
                          <circle id="Oval" cx="120" cy="120" r="3"/>
                          <circle id="Oval" cx="107" cy="120" r="3"/>
                          <circle id="Oval" cx="133" cy="120" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="120" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="120" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="120" r="3"/>
                          <circle id="Oval" cx="120" cy="133" r="3"/>
                          <circle id="Oval" cx="107" cy="133" r="3"/>
                          <circle id="Oval" cx="133" cy="133" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="133" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="133" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="133" r="3"/>
                          <circle id="Oval" cx="120" cy="146" r="3"/>
                          <circle id="Oval" cx="107" cy="146" r="3"/>
                          <circle id="Oval" cx="133" cy="146" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="146" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="146" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="146" r="3"/>
                          <circle id="Oval" cx="120" cy="159" r="3"/>
                          <circle id="Oval" cx="107" cy="159" r="3"/>
                          <circle id="Oval" cx="133" cy="159" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="159" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="159" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="159" r="3"/>
                          <circle id="Oval" cx="120" cy="172" r="3"/>
                          <circle id="Oval" cx="107" cy="172" r="3"/>
                          <circle id="Oval" cx="133" cy="172" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="172" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="172" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="172" r="3"/>
                          <circle id="Oval" cx="120" cy="185" r="3"/>
                          <circle id="Oval" cx="107" cy="185" r="3"/>
                          <circle id="Oval" cx="133" cy="185" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="185" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="185" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="185" r="3"/>
                          <circle id="Oval" cx="120" cy="198" r="3"/>
                          <circle id="Oval" cx="107" cy="198" r="3"/>
                          <circle id="Oval" cx="133" cy="198" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="198" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="198" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="198" r="3"/>
                          <circle id="Oval" cx="120" cy="211" r="3"/>
                          <circle id="Oval" cx="107" cy="211" r="3"/>
                          <circle id="Oval" cx="133" cy="211" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="211" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="211" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="211" r="3"/>
                          <circle id="Oval" cx="120" cy="224" r="3"/>
                          <circle id="Oval" cx="107" cy="224" r="3"/>
                          <circle id="Oval" cx="133" cy="224" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="224" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="224" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="224" r="3"/>
                          <circle id="Oval" cx="120" cy="237" r="3"/>
                          <circle id="Oval" cx="107" cy="237" r="3"/>
                          <circle id="Oval" cx="133" cy="237" r="3"/>
                          <circle id="Oval-Copy" cx="146" cy="237" r="3"/>
                          <circle id="Oval-Copy-2" cx="159" cy="237" r="3"/>
                          <circle id="Oval-Copy-3" cx="172" cy="237" r="3"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="thumbnail thumbnail-1">
        <img src="images/why-go-1/image-1.jpg" alt="Image">
      </div>
      <div class="thumbnail thumbnail-2">
        <img src="images/why-go-1/image-2.jpg" alt="Image">
      </div>
      <div class="thumbnail thumbnail-3">
        <img src="images/why-go-1/image-3.jpg" alt="Image">
      </div>
    </div>
    <div class="section-copy">
      <h2>
        <span class="no-wrap-break">Paving the way of the</span>
        <span class="no-wrap-break">big artists of tomorrow</span>
      </h2>
      <p>Providing high quality from beginning to end and the talent
        captivates you right up until the final few minutes of the event.
        For many artists our stage has been part of the journey to mainstream
        success examples include <span class="nowrap">JP Cooper,</span>
        <span class="nowrap">Jacob Banks,</span> Shakka,
        <span class="nowrap">Cythnia Erivo</span> and <span class="nowrap">Ray BLK</span>.
      </p>
    </div>
  </div>
</div>

<div class="why-go why-go-style-2 why-go-max-width section">
  <div class="container">
    <h2>
      <span class="no-wrap-break">
        Relationships are born
      </span>
      <span class="no-wrap-break">
        beyond the stage
      </span>
    </h2>
    <div class="section-image">
      <div class="thumbnail">
        <img src="images/why-go-2/image-1.jpg" alt="Image">
      </div>
      <div class="thumbnail">
        <img src="images/why-go-2/image-2.jpg" alt="Image">
      </div>
      <div class="thumbnail">
        <img src="images/why-go-2/image-3.jpg" alt="Image">
      </div>
    </div>
    <div class="section-copy">
      <p>Creates an environment that people of different backgrounds
        and walks of life come together with a common purpose and provides
        the perfect platform for people to network with others with similar passions.
      </p>
    </div>
  </div>
</div>

{% include tweet.html tweet= page.tweet1.tweet link= page.tweet1.link %}

<div class="why-go section section-centered">
  <div class="container">
    <div class="section-copy">
      <h2>
        <span class="no-wrap-break-medium">
          An Event that stays with you
        </span>
        <span class="no-wrap-break-medium">
          longer than the bus ride home
        </span>
      </h2>
      <p>
        Creates an environment that people of different backgrounds and
        walks of life come together with a common purpose and provides the
        perfect platform for people to network with others with similar passions.
      </p>
    </div>
    <div class="section-image">
      <img src="https://via.placeholder.com/500x500" alt="Image">
    </div>
  </div>
</div>


{% include home/featured-artists.html %}

{% include tweet.html tweet= page.tweet2.tweet link= page.tweet2.link %}



<!-- {% include home/gallery.html %}

 {% include testimonals.html %}  -->
