<div class="modal-window gallery-modal" data-modal="gallery-modal" data-carousel="gallery">
  <div class="carousel-gallery-frame" data-carousel-frame>
    <div class="carousel-gallery-wrapper" data-carousel-wrapper>
      {% for counter in (0..11)%}
      <div class="thumbnail carousel-gallery-slide" data-carousel-slides>
        <img src="../images/gallery/gallery-image-large-1.jpg" alt="Gallery Image">
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="carousel-chevrons">
    <div class="prev carousel-controller" data-carousel-controller-prev>
      {% include icons/gallery-chervon.html %}
    </div>
    <div class="next carousel-controller" data-carousel-controller-next>
      {% include icons/gallery-chervon.html %}
    </div>
  </div>
</div>
