<div class="modal-content" data-modal-name="gallery-modal">
  <div class="close-modal" data-close-modal>
    <span></span>
    <span></span>
  </div>
  <div class="gallery-modal">
    <div class="gallery-modal-lightbox"></div>
    <div class="carousel-chevrons">
      <div class="prev carousel-controller" data-carousel-controller-prev>
        {% include icons/gallery-chervon.html %}
      </div>
      <div class="next carousel-controller" data-carousel-controller-next>
        {% include icons/gallery-chervon.html %}
      </div>
    </div>
  </div>
</div>
