<!-- <div class="footer-spacer"></div> -->
<footer>
  <div class="container">
    <div class="footer-icons">
      <a href="https://twitter.com/VocalsAndVerses" target="_blank">
          {% include icons/twitter.html %}
      </a>
      <a href="https://www.youtube.com/user/VocalsAndVerses" target="_blank">
          {% include icons/youtube.html %}
      </a>

      <a href="https://www.facebook.com/VocalsAndVerses/" target="_blank">
          {% include icons/facebook.html %}
      </a>
    </div>

    <div class="thumbnail transparent footer-logo">
      <img src="../images/logo-white.svg" alt="footer logo">
    </div>
    <div class="copywright">
      <span>{{ "now" | date: "%Y" }} &copy;Vocals &amp; Verses &mdash; </span>
      <span>Handcrafted by <a href="http://www.lloydjamiebennett.co.uk" target="_blank">Lloyd Bennett</a></span>
    </div>

  </div>
</footer>
