<section class="subscribe">
  <h4 class="headline light-title">Keep up to date with the latest<span> news, events and giveways</span></h4>
  <form class="subscription-form">
    <div class="your-name">
        <input type="text" name="name" placeholder="Your Name" class="text-field">
    </div>
    <div class="email">
        <input type="email" name="email" placeholder="Email Address" class="text-field email">
    </div>
    <button class="btn btn-sml btn-blue">
        Subscribe
    </button>
  </form>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="footer-copy">
          <div class="footer-icons">
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-youtube-play"></i>
            </a>

            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
          </div>

          <div class="thumbnail transparent">
              <img src="assets/images/white-logo.svg" alt="footer logo">
          </div>
          <span class="copywright">
              <!-- <?php echo date('Y');?> &copy;Vocals &amp; Verses -->
          </span>

          <div id="theme-author">
              <span>Handcrafted by <a href="http://www.lloydjamiebennett.co.uk" target="_blank">Lloyd Bennett</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
