<header class="nav-bar">
  <div class="container">
    <a class ="logo" href="/" data-page-transition>
      <img src="../images/logo.svg" alt="Vocals &amp; Verses" />
    </a>

    <div class="nav-bar-icons">
      <a href="https://twitter.com/VocalsAndVerses" target="_blank">
          {% include icons/twitter.html %}
      </a>
      <a href="https://www.youtube.com/user/VocalsAndVerses" target="_blank">
          {% include icons/youtube.html %}
      </a>

      <a href="https://www.facebook.com/VocalsAndVerses/" target="_blank">
          {% include icons/facebook.html %}
      </a>
      <a href="https://www.instagram.com/vocalsandverses/" target="_blank">
        {% include icons/instagram.html %}
      </a>
    </div>

  </div>
</header>
