<header class="nav-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 text-left">
        <a class ="logo" href="/" data-page-transition>
          <img src="../images/logo.svg" alt="Vocals &amp; Verses" />
        </a>
      </div>
      <div class="col-xs-4 col-xs-offset-6 nav-bar-icons">
        <a href="https://twitter.com/VocalsAndVerses" target="_blank">
            {% include icons/twitter.html %}
        </a>
        <a href="https://www.youtube.com/user/VocalsAndVerses" target="_blank">
            {% include icons/youtube.html %}
        </a>

        <a href="https://www.facebook.com/VocalsAndVerses/" target="_blank">
            {% include icons/facebook.html %}
        </a>
      </div>
    </div>
  </div>
</header>
