<section id="main-hero" class="hero with-gradient">
  <div class="container">
    {% include header.html %}

    <div class="row">
      <div class="col-sm-8 col-md-6">
        <div class="hero-content">
          <h1 class="hero-content-title">
            <span>Feed The Mind.</span>
            <span>Feed The Soul.</span>
          </h1>
          <p class="hero-content-copy">
            Dedicated to the finest spoken word and live music
            in the U.K.
          </p>

          <div class="ctas">
            <a href="#" class="btn btn-lrg center-cta" data-cta-text="Now">
              <!-- <?php the_field('hero_cta'); ?> -->
            </a>

            <!-- <?php if(get_field('hero_video_url')) :?> -->
            <div class="play-btn-lrg play-btn-white-stroke center-cta" data-trigger-modal="home-hero-video">
              <i class="fa fa-play"></i>
            </div>
            <!-- <?php endif; ?> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
