<section class="hero home-hero with-gradient">
  {% include header.html %}
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8">
        <div class="home-hero-content">
          <h1 class="hero-content-title">
            <span>Feed The Mind.</span>
            <span class="light-text">Feed The Soul.</span>
          </h1>
          <p class="hero-content-copy">
            Dedicated to showcasing the finest spoken word and live music
            in the U.K.
          </p>

          <div class="ctas">
            <a href="https://www.facebook.com/pg/VocalsAndVerses/events/?ref=page_internal" class="btn btn-lrg" target="_blank">
              Get Tickets
            </a>

            <div class="play-btn" data-trigger-modal="video-modal">
              <div class="play-btn-icon">
                <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                  <title>
                    Play
                  </title>
                  <path d="M20 39C9.5 39 1 30.5 1 20S9.5 1 20 1s19 8.5 19 19-8.5 19-19 19zm8.4-18.5l-13.7-6.8v13.7l13.7-7z"
                  stroke-width="2" stroke="#FFF" fill="#FFF" fill-rule="evenodd"/>
                </svg>
              </div>
              <span class="play-btn-label">See the artistry</span>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- <div class="home-hero-image">
      <img src="../images/artist-hero.png" alt="">
    </div> -->
  </div>
</section>
