<section id="main-hero" class="hero with-gradient">
  <div class="container">
    <div class="overlay"></div>

    {% include header.html %}

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="hero-content">
          <h1 class="text-center">
            <!-- <?php if(get_field('hero_title')) {
              the_field('hero_title');
              } else {
                echo the_title();
              }
            ?> -->
          </h1>
          <p class="hero-text text-center">
            <!-- <?php the_field('hero_description'); ?> -->
          </p>

          <div class="ctas text-center">
            <a href="#" class="btn btn-lrg center-cta" data-cta-text="Now">
              <!-- <?php the_field('hero_cta'); ?> -->
            </a>

            <!-- <?php if(get_field('hero_video_url')) :?> -->
            <div class="play-btn-lrg play-btn-white-stroke center-cta" data-trigger-modal="home-hero-video">
              <i class="fa fa-play"></i>
            </div>
            <!-- <?php endif; ?> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
