<div class="loading-canvas">
  <div class="loading-canvas-wipe loading-canvas-wipe-whitenoise"></div>
  <div class="loading-canvas-wipe loading-canvas-wipe-sunrise"></div>
  <div class="loading-titles">
    <div class="title">
      <span>People, </span>
    </div>
    <div class="title">
      <span>Artistry, </span>
    </div>
    <div class="title">
      <span>Talent</span>
    </div>
  </div>
  <div class="loading-titles-logo">
    <img src="../images/logo.svg" alt="Vocals &amp; Verses" />
  </div>
</div>

<script>
  window.addEventListener('load', function(){
    var $lastTitle = document.querySelector('.title:last-child span');
    var $titles = document.querySelector('.loading-titles');
    var $logo = document.querySelector('.loading-titles-logo');
    var $wipes = document.querySelectorAll('.loading-canvas-wipe');
    var $loadingCanvas = document.querySelector('.loading-canvas');

    $lastTitle.addEventListener("webkitAnimationEnd", titlesTransitionOut);
    $logo.addEventListener("webkitTransitionEnd", logoTransitionOut);

    function titlesTransitionOut() {
      console.log('im done!!');
      $titles.classList.add('exit-transition');
      $logo.classList.add('enter-transition');
    }

    function logoTransitionOut(){
      $wipes.forEach(function(element) {
        element.classList.add('wipe-transition');

        if(element.classList.contains('loading-canvas-wipe-whitenoise')) {
          element.addEventListener("webkitTransitionEnd", resetCanvas);
        }
      });
    }

    function resetCanvas() {
      $loadingCanvas.classList.add('hide');
    }

  });
</script>
