<div class="loading-canvas">
  <div class="loading-canvas-wipe loading-canvas-wipe-whitenoise"></div>
  <div class="loading-canvas-wipe loading-canvas-wipe-sunrise"></div>
  <div class="loading-titles">
    <div class="title">
      <span>People, </span>
    </div>
    <div class="title">
      <span>Artistry, </span>
    </div>
    <div class="title">
      <span>Talent</span>
    </div>
  </div>
  <div class="loading-titles-logo">
    <img src="../images/logo.svg" alt="Vocals &amp; Verses" />
  </div>
</div>
