<div class="nav-modal" data-role="nav-menu">
    <div class="nav-background-image">
        <div class="thumbnail active"></div>
        <div class="thumbnail"></div>
    </div>
    <nav class="nav-menu">
        <ul>
            <!-- <?php
                $nav = wp_get_nav_menu_items( 'main-menu' );
                foreach ( $nav as $nav_item ) {
                    echo '<li data-role="nav-menu-links"><a href="' . $nav_item->url .'"'. 'data-page-transition>' . $nav_item->title . '</a></li>';
                }
            ?> -->
        </ul>
    </nav>
</div>
