<section class="subscribe">
  <div class="container no-col-padding">
    <h2 class="subscribe-heading">Stay Locked In</h2>
    <p class="subscribe-description">Keep up to date with the latest<span> news, events and giveways.</span></p>
    <div class="col-md-10 col-md-offset-1 no-col-padding">
      <form class="subscription-form" action="//vocalsandverses.us6.list-manage.com/subscribe/post?u=f974146ae39eba2f4145e1243&amp;id=a4d494b8a6"
      method="post" target="_blank" novalidate>
        <input type="text" name="FNAME" placeholder="Your Name" class="text-field">
        <input type="email" name="EMAIL" placeholder="Email Address" class="text-field email">
        <button class="btn btn-sml btn-blue">
          Subscribe
        </button>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div id="mce-responses" class="clear">
      		<div class="response" id="mce-error-response" style="display:none"></div>
      		<div class="response" id="mce-success-response" style="display:none"></div>
      	</div>
      </form>
    </div>
  </div>
</section>
