<section class="section testimonals quote-mark" data-carousel="testimonal">
  <div class="container">
    <div class="col-md-5 testimonals-entry">
      <blockquote>
        <q>Everytime I go a #VocalsAndVerses my
        heart is warmed. The acts are so diverse
        and brilliant.</q>
        <span class="quotee">
          The Audience
        </span>
      </blockquote>
    </div>
    <div class="col-md-5 testimonals-entry">
      <blockquote>
        <q>Testing One</q>
        <span class="quotee">
          The Audience
        </span>
      </blockquote>
    </div>
    <div class="col-md-5 testimonals-entry">
      <blockquote>
        <q>Testing Two</q>
        <span class="quotee">
          The Audience
        </span>
      </blockquote>
    </div>
    <div class="chevrons">
      <div class="prev controller">
        <img src="../images/arrow-chervon.svg" alt="Previous Slide">
      </div>
      <div class="next controller">
        <img src="../images/arrow-chervon.svg" alt="Next Slide">
      </div>
    </div>
    <nav class="testimonals-progress">
      <ul class="testimonals-progress-tabs">
        <li class="tab">{% include icons/carousel-progress.html %}</li>
        <li class="tab">{% include icons/carousel-progress.html %}</li>
        <li class="tab">{% include icons/carousel-progress.html %}</li>
      </ul>
    </nav>
  </div>
</section>
