<section class="section testimonals quote-mark" data-carousel>
  <div class="container">
    <div class="testimonals-wrapper" data-carousel-wrapper>
      <div class="testimonals-entry" data-carousel-slides>
        <div class="testimonals-entry-wrapper">
          <blockquote>
            <q>Everytime I go a #VocalsAndVerses my
              heart is warmed. The acts are so diverse
              and brilliant.
            </q>
            <span class="quotee">
              The Audience
            </span>
          </blockquote>
        </div>
      </div>
      <div class="testimonals-entry" data-carousel-slides>
        <div class="testimonals-entry-wrapper">
          <blockquote>
            <q>Testing One</q>
            <span class="quotee">
              The Audience
            </span>
          </blockquote>
        </div>
      </div>
      <div class="testimonals-entry" data-carousel-slides>
        <div class="testimonals-entry-wrapper">
          <blockquote>
            <q>Testing Two</q>
            <span class="quotee">
              The Audience
            </span>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="chevrons">
      <div class="prev controller" data-carousel-controller-prev>
        <img src="../images/arrow-chervon.svg" alt="Previous Slide">
      </div>
      <div class="next controller" data-carousel-controller-next>
        <img src="../images/arrow-chervon.svg" alt="Next Slide">
      </div>
    </div>
    <nav class="testimonals-progress">
      <ul class="testimonals-progress-tabs">
        <li class="tab" data-carousel-progress-tab>
          {% include icons/carousel-progress.html %}
        </li>
        <li class="tab" data-carousel-progress-tab>
          {% include icons/carousel-progress.html %}
        </li>
        <li class="tab" data-carousel-progress-tab>
          {% include icons/carousel-progress.html %}
        </li>
      </ul>
    </nav>
  </div>
</section>
