@keyframes animate-nav-menu {

	from {
		width: 0;
	}

	to {
		width: 50%;
		/*@media #{$medium-breakpoint} {
			width: 50%;
		}*/
	}
}

@keyframes bounce-arrow-next {
  // 0%, 50%, 100%  {
  //   transform: translateX(0);
  // }
  // 25%, 75% {
  //   transform: translateX(-80px);
  // }
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-80px);
  }
}
