.artist-card {
  @include dropShadow;
  position: relative;
  display: table;
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;

  @media #{$tablet-breakpoint} {
    display: inline-block;
  }

  .thumbnail {
    display: block;
  }
}

.artist-card-strap {
  background: url('../images/name-strap-bg.svg') center/cover no-repeat;
  position: absolute;
  min-width: 80%;
  bottom: -10%;
  left: -10%;
  padding: $spacing-s + $spacing-xs $spacing-base + $spacing-s;

  @media #{$small-mobile-breakpoint} {
    left: 0;
  }
}

.artist-card-name {
  margin-bottom: $spacing-xs;
  color: $white;
  font-size: 2em;
}


.artist-card-title {
  color: $swatch-brand-yellow;
}
