.artist-card {
  position: relative;
  display: table;
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;

  @media #{$medium-breakpoint} {
    display: inline-block;
  }

  .thumbnail {
    display: block;
  }
}

.artist-card-strap {
  margin-top: $spacing-s;
  text-align: center;

  .button {
    display: table;
    margin: $spacing-base auto 0;
  }
}

.artist-card-name {
  margin-bottom: $spacing-xxs;
  color: $white;
  margin-top: 0;
  font-weight: $font-weight-medium;
}


.artist-card-title {
  font-size: 1em;
  font-style: italic;
}
