.button {
  position: relative;
	border-radius: 0;
	border: none;
	cursor: pointer;
	display: table;
	text-align: center;
  font-family: $font-display-family;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: $font-weight-semi-bold;
  padding: 0 $spacing-s $spacing-s;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media #{$medium-breakpoint} {
    display: inline-block;
  }

  &::after {
    content: "";
    width: 100%;
    height: 5px;
    background-color: $color-dawn;
    position: absolute;
    left: 0;
    bottom: 0;
  }

	&:focus {
    outline: none;
	}

  &.button-small {
    font-size: 0.625em;

    @media #{$medium-breakpoint} {
      font-size: 0.8em;
    }
  }

  & + &,
  & + .play-btn {

    @media screen and (max-width: 767px) {
      display: table;
      margin: $spacing-base auto 0;
    }

    @media #{$medium-breakpoint} {
      margin-left: $spacing-m;
    }
  }

  &.button-dark {
    color: $white;
  }
}

.play-btn {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 100%;
  color: white;

  &:hover {
    .play-btn-icon {
      transform: scale(1.2);
      transition: 250ms ease;
    }
  }

  .play-btn-icon {
    position: relative;
    display: inline-block;
    margin-right: $spacing-xs;
    transition: 250ms ease;
    vertical-align: middle;
    width: 48px;
    height: 48px;

    svg {
      width: 100%;
      height: 100%;
    }

    &::before {
      content: '';
      background-color: red;
      border-radius: 100%;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      display: none;
    }

    &.video-is-playing {
      &::before {
        width: 400%;
        height: 400%;
      }
    }
  }
}

.link {
	font-size: inherit;
}
