.carousel-wrapper {
  display: flex;
  transition: transform $animation-base-duration $animation-base-bezier;
}

.carousel-frame {
  overflow: hidden;
}

.carousel-slide {
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.carousel-chevrons {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;

  img {
    display: block;
    width: 100%;
  }
}

.carousel-controller {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  width: 40px;

  &.prev {
    left: 0;
    transform: rotate(-180deg);
  }

  &.next {
    right: 0;
  }
}
