.content {
  position: relative;
  z-index: 2;
  margin-top: 100vh;
  background-color: $color-eclipse;

  @media screen and (min-height: 901px) {
    margin-top: 900px;
  }

  &::before {
    content: "";
    position: absolute;
    padding-bottom: 7%;
    width: 100%;
    top: -10%;
    left: 0;
    background: url('../images/paintbrush-top.svg') no-repeat center top/cover;
    //height: 200px;
    // @media #{$small-breakpoint} {
    //   padding-bottom: 15%;
    // }
  }
}
