.content {
  position: relative;
  z-index: 2;
  margin-top: 100vh;
  background-color: $color-eclipse;

  &::before {
    content: "";
    position: absolute;
    padding-bottom: 7%;
    width: 100%;
    bottom: 0;
    left: 0;
    //background: url('../images/hero-section-brush.png') no-repeat center top/cover;

    @media #{$small-breakpoint} {
      padding-bottom: 15%;
    }
  }
}
