.content {
  position: relative;
  z-index: 2;
  margin-top: calc(100vh + 50px);
  background-color: $color-eclipse;

  @media screen and (min-height: 901px) {
    margin-top: 950px;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   //padding-bottom: 7%;
  //   width: 100%;
  //   top: -25%; //15
  //   left: 0;
  //   background: url('../images/paintbrush-top.svg') repeat-x center top/cover;
  //   height: 200px;
  //   // @media #{$small-breakpoint} {
  //   //   padding-bottom: 15%;
  //   // }
  // }
}
