.title-divider {
  display: block;
  height: 5px;
  width: 120px;
  background-color: $swatch-brand-yellow;
  margin-bottom: $spacing-s;

  @media #{$small-desktop-breakpoint} {
    height: 8px;
    width: 170px;
  }
}
