.featured-artists {
  .paragraph-block {
    @include offsetContentBlock;
    margin-bottom: $spacing-base;

    @media #{$small-breakpoint} {
      margin-bottom: $spacing-m;
    }

    @media #{$medium-breakpoint} {
      display: flex;
    }

    h2 {
      flex-shrink: 0;
      margin-right: $spacing-l;

      @media #{$medium-breakpoint} {
        margin-bottom: 0;
      }
    }

    p {
      max-width: 500px;

      @media #{$medium-breakpoint} {
        margin-bottom: 0;
      }
    }
  }
}

.featured-artists-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: $spacing-base;
  grid-row-gap: $spacing-m;

  @media screen and (min-width: 700px) {
    grid-row-gap: $spacing-m + $spacing-base;
  }

  @media #{$medium-breakpoint} {
    grid-template-columns: repeat(3, 1fr);
  }

  @media #{$small-large-breakpoint} {
    grid-template-columns: repeat(4, 1fr);
  }

}
