.text-field {
  @extend .light-text;
  border: none;
  box-shadow: $box-shadow;
  margin-bottom: $spacing-base;
  padding: $spacing-s + $spacing-xs $spacing-base;
}

.subscription-form {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;

  @media #{$small-large-breakpoint} {
    display: flex;
    max-width: 950px;
  }

  .text-field {
    display: block;
    width: 100%;

    @media #{$small-large-breakpoint} {
      display: inline-block;
      margin-bottom: 0;
      margin-right: $spacing-base;
    }
  }

  .btn {
    width: 100%;
    padding: $spacing-s + $spacing-xs 0;
    @media #{$small-large-breakpoint} {
      padding: $spacing-s $spacing-base + $spacing-s;
      width: auto;
    }
  }
}
