.gallery-grid {
  .container {
    columns: 3;
    column-gap: $spacing-s;

    @media #{$medium-breakpoint} {
      columns: 4;
      column-gap: $spacing-base;
    }

    @media screen and (min-width: 1350px) {
      column-gap: $spacing-m;
    }

    .thumbnail {
      margin-bottom: $spacing-xs;

      @media #{$small-breakpoint} {
        margin-bottom: $spacing-s;
      }

      @media #{$medium-breakpoint} {
        margin-bottom: $spacing-base;
      }

      &:first-child {
        @media screen and (max-width: 767px) {
          margin-top: 80%;
        }

        @media #{$medium-breakpoint} {
          display: block;
          transform: translateY(80%);
          margin-bottom: 0;
        }
      }

      &:nth-child(2) {
        @media #{$medium-breakpoint} {
          margin-top: 50%;
        }
      }

      &:nth-child(6) {
        @media screen and (max-width: 767px) {
          margin-top: 50%;
        }
      }

      &:nth-child(7) {
        @media #{$medium-breakpoint} {
          margin-top: 70%;
        }
      }
    }
  }
}
