.get-tickets {
  text-align: center;
  padding-top: $spacing-m;
  padding-bottom: $spacing-l + $spacing-m;
  background-color: $color-bg-paint;

  @media #{$small-breakpoint} {
    padding-top: $spacing-l;
  }

  @media #{$large-breakpoint} {
    padding-bottom: $spacing-l + $spacing-base;
    padding-top: $spacing-l + $spacing-base;
  }

  h2 {
    margin-bottom: $spacing-base;

    @media #{$small-breakpoint} {
      margin-bottom: $spacing-m;
    }
  }
}
