.get-tickets {
  text-align: center;
  margin-bottom: $spacing-m;

  @media #{$large-breakpoint} {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: $spacing-base;

    @media #{$small-breakpoint} {
      margin-bottom: $spacing-m;
    }
  }
}
