.hero {
	position: relative;
  min-height: 800px;

  &::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: url('../images/hero-section-brush.png') no-repeat center top/cover;
  }
}

.home-hero {
  display: flex;
  flex-wrap: wrap;
}

.hero-content {
  padding: $spacing-m 0;
  position: relative;
  z-index: 2;
  @media #{$tablet-breakpoint} {
    padding: $spacing-l 0;
  }
}

.hero-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  max-width: 800px;

  img {
    width: 100%;
  }
}

.hero-content-title, .hero-content-copy {
  color: white;
}

.hero-content-title {
  span {
    @include nowrap;
  }
}

.hero-content-copy {
  max-width: 500px;
}

.with-gradient {
	background: linear-gradient(243deg, #000000 7%, #01033C 78%);
}

.with-bg-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}
