.hero {
	position: relative;
	overflow: hidden;
}

.hero-content {
  padding: $spacing-xl 0;
}

.hero-content-title, .hero-content-copy {
  color: white;
}

.hero-content-title {
  span {
    @include nowrap;
  }
}

.with-gradient {
	background: linear-gradient(243deg, #000000 7%, #01033C 78%);
}

.with-bg-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}
