.hero {
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 900px;
  display: flex;
  flex-direction: column;
}

.home-hero {
  .hero-content-inner {
    @media #{$medium-breakpoint} {
      margin-top: 80px;
    }
  }
  .hero-content-title {
    @media screen and (min-width: 350px) and (max-width: 549px) {
      font-size: pxtoem(42px);
    }
  }
}

.hero-content {
  height: 100%;
  display: flex;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.hero-content-title {
  & + .ctas {
    margin-top: $spacing-base + $spacing-s;
  }
}

.hero-content-inner {
  @include offsetContentBlock;
  z-index: 2;
  text-align: center;
  width: 100%;

  @media #{$medium-breakpoint} {
    display: inline-block;
    width: auto;
    text-align: left;
  }
}

.home-hero-image {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  max-height: 700px;
  display: none;

  @media #{$medium-breakpoint} {
    display: block;
  }

  @media #{$x-large-breakpoint} {
    right: 5%;
  }

  img {
    height: 100%;
    display: block;
  }
}

.with-gradient {
	background: linear-gradient(243deg, #000000 7%, #01033C 78%);
}

.with-bg-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}
