.image-block {
  width: 100%;
}

.centered-image-block {
  margin-bottom: $spacing-base;

  @media #{$tablet-breakpoint} {
    margin-bottom: $spacing-m;
  }

  @media #{$small-desktop-breakpoint} {
    @include verticallyAlignChildren;
    flex-wrap: wrap;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
