.modal-overlay {
  @extend .overlay;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  transition: opacity 500ms ease;
  z-index: 1000;

  &.visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 500ms ease;

  }
}

.modal-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transition: transform 600ms ease 100ms,
              opacity 500ms ease;
  transform: translateY(80%);
  opacity: 0;

  &.open {
    transition: transform 500ms ease,
                opacity 500ms ease 100ms;
    transform: translateY(0);
    opacity: 1;
  }
}

.close-modal {
  color: $white;
  cursor: pointer;
  position: relative;
  right: 0;
  text-transform: uppercase;
  top: -20px;
  z-index: 3000;
  width: 25px;

  span {
    vertical-align: middle;
    position: absolute;
    height: 2px;
    transform: rotate(45deg);
    width: 100%;
    background-color: $white;

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}
