.modal-overlay {
  @extend .overlay;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  transition: opacity 500ms ease;
  z-index: 1000;

  &.visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 500ms ease;

    .close-modal {
      opacity: 1;
      transition: opacity 600ms ease 500ms;
    }

    .carousel-chevrons {
      opacity: 1;
      transition: opacity 500ms ease 500ms;
    }
  }

  .carousel-chevrons {
    opacity: 0;
    transition: opacity 500ms ease;
  }
}

.modal-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.close-modal {
  background-color: red;
  color: $white;
  cursor: pointer;
  position: absolute;
  right: 0;
  opacity: 0;
  text-transform: uppercase;
  top: -25px;
  transition: opacity 500ms ease;
  z-index: 3000;
  width: 25px;
  height: 25px;

  span {
    background-color: $white;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    vertical-align: middle;
    width: 100%;

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

.modal-window {
  transition: transform 500ms $animation-base-bezier 100ms,
              opacity 400ms $animation-base-bezier;
  transform: translateY(80%);
  opacity: 0;

  &.open {
    transition: transform 500ms $animation-base-bezier,
                opacity 400ms $animation-base-bezier 100ms;
    transform: translateY(0);
    opacity: 1;
  }
}
