.section {
  margin-bottom: $spacing-m + $spacing-base;

  @media #{$small-breakpoint} {
    margin-bottom: $spacing-l;
  }

  @media #{$large-breakpoint} {
    margin-bottom: $spacing-l + $spacing-base;
  }
}

.section-fifty-fifty {
  .container  {
    @media #{$small-large-breakpoint} {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: $spacing-m;
      align-items: center;
    }
  }

  .section-image {
    margin-bottom: $spacing-base;

    @media #{$small-breakpoint} {
      margin-bottom: $spacing-m;
    }

    @media #{$small-large-breakpoint} {
      margin-bottom: 0;
    }
  }
}

.section-copy {
  p {
    max-width: 700px;
  }
}

.section-centered {
  @media #{$small-breakpoint} {
    text-align: center;
  }

  .section-copy {
    margin-bottom: $spacing-base;

    @media #{$small-breakpoint} {
      margin-bottom: $spacing-m;
    }

    p {
      margin: 0 auto;
    }
  }
}
