.subscribe {
  @include paintBrush(before, '../images/subscribe-section-brush.png', 35%);
  background-color: $swatch-brand-light-black;
  padding: $spacing-s 0 $spacing-xl;
  margin-top: $spacing-xl + $spacing-l;

  @media #{$small-mobile-breakpoint} {
    margin-top: $spacing-xl;
  }

  @media #{$small-desktop-breakpoint} {
    margin-top: $spacing-xl;
  }

  &::before {
    @media #{$small-mobile-breakpoint} {
			height: 25%;
      top: -24%;
		}
  }
}

.subscribe-heading,
.subscribe-description {
  text-align: center;
  color: white;
}

.subscribe-description {
  margin-bottom: $spacing-m;
}
