.testimonals {
  text-align: center;

  .container {
    position: relative;
    overflow-x: hidden;
  }
}

.testimonals-entry {
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
  transition: $animation-base-duration $animation-base-bezier;
  width: 100%;
}

.testimonals-entry-wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.testimonals-progress-tabs {
  display: inline-block;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
}

.tab {
  cursor: pointer;
  margin-bottom: 0;
  margin-right: $spacing-base;
  display: inline-block;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    .tab-icon {
      fill: $swatch-brand-yellow;
      transition: 300ms ease;
    }
  }
}
