.testimonals {
  text-align: center;

  .container {
    position: relative;
    //min-height: 300px;
    overflow-x: hidden;
  }
}

.testimonals-wrapper {
  display: flex;
  transition: transform $animation-base-duration $animation-base-bezier;
}

.testimonals-entry {
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  //opacity: 0;
  pointer-events: none;
  //transform: translateX(80%);
  transition: $animation-base-duration $animation-base-bezier;
  width: 100%;

  // &.active-slide {
  //   transform: translateX(0);
  //   opacity: 1;
  //   pointer-events: auto;
  //   transition: $animation-base-duration $animation-base-bezier;
  // }

  // &.previous-slide {
  //   transform: translateX(-200%);
  //   opacity: 0;
  //   transition: $animation-base-duration $animation-base-bezier;
  // }
}

.testimonals-entry-wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.chevrons {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;

  @media #{$small-mobile-breakpoint} {
    display: none;
  }

  img {
    display: block;
    width: 100%;
  }
}

.controller {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  width: 40px;

  &.prev {
    left: 0;
    transform: rotate(-180deg);
  }

  &.next {
    right: 0;
    // animation-name: bounce-arrow-next;
    // animation-duration: $animation-base-duration;
    // animation-timing-function: $animation-base-bezier;
    // animation-iteration-count: infinite;
    // transform: translateX(0);
    // transition: transform $animation-base-duration $animation-base-bezier;
    // &:hover {
    //   transform: translateX(-80px);
    //   transition: transform $animation-base-duration $animation-base-bezier;
    // }
  }
}

// .testimonals-progress {
//   position: absolute;
//   bottom: 0;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 100%;
// }

.testimonals-progress-tabs {
  display: inline-block;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
}

.tab {
  cursor: pointer;
  margin-bottom: 0;
  margin-right: $spacing-base;
  display: inline-block;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    .tab-icon {
      fill: $swatch-brand-yellow;
      transition: 300ms ease;
    }
  }
}
