.why-go {
  .thumbnail {
    max-width: 800px;
  }

  .image-block {
    @media screen and (min-width: 1440px) {
      width: 50%;
    }
  }

  .paragraph-block {
    @media screen and (min-width: 1440px) {
      width: 40%;
    }
  }
}

.why-go-align-right {
  @media #{$tablet-breakpoint} {
    text-align: right;
  }
}
