footer {
  @include paintBrush(before, '../images/footer-section-brush.png', 35%);
  position: relative;
	background-color: $swatch-brand-black;
	color: white;
	padding: $spacing-m 0;
	text-align: center;

	.thumbnail {
		display: block;
		margin-bottom: $spacing-m;
	}

  &::before {
    @media #{$small-mobile-breakpoint} {
			height: 25%;
      top: -24%;
		}
  }
}

.footer-icons {
	margin-bottom: $spacing-m;

	a {
		display: inline-block;
		margin-right: $spacing-m;
    height: 28px;

		@media #{$tablet-breakpoint} {
			margin-right: $spacing-l;
      height: auto;
		}

    svg {
      height: 100%;
      @media #{$tablet-breakpoint} {
  			height: auto;
  		}
    }

		&:last-child{
			margin-right: 0;
		}
	}
}

.copywright {
	display: block;

  span {
    @media #{$small-mobile-breakpoint} {
      display: block;
    }
  }
}

.footer-logo {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;

  @media #{$tablet-breakpoint} {
    max-width: 200px;
  }

  svg {
    fill: white;
  }
}
