footer {
  @include paintBrush(before, '../images/footer-section-brush.png', 35%);
	background-color: $color-darkness;
	color: white;
	padding: $spacing-m 0;
	text-align: center;

	.thumbnail {
		display: block;
		margin-bottom: $spacing-m;
	}

  &::before {
    @media #{$small-breakpoint} {
			height: 25%;
      top: -24%;
		}
  }
}

.footer-icons {
	margin-bottom: $spacing-m;

  @media #{$medium-breakpoint} {
    margin-bottom: $spacing-m + $spacing-base;
  }


	a {
		display: inline-block;
		margin-right: $spacing-m;
    height: 28px;

		@media #{$medium-breakpoint} {
			margin-right: $spacing-l;
      height: auto;
		}

    svg {
      height: 100%;
      @media #{$medium-breakpoint} {
  			height: auto;
  		}
    }

		&:last-child{
			margin-right: 0;
		}
	}
}

.footer-spacer {
  height: $spacing-l;

  @media #{$large-breakpoint} {
    height: $spacing-l + $spacing-base;
  }
}

.copywright {
  font-size: 14px;
  font-family: $font-display-family;
  font-weight: $font-weight-light;

  span {
    display: block;

    @media #{$small-breakpoint} {
      display: inline-block;
    }
  }
}

.footer-logo {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;

  @media #{$medium-breakpoint} {
    max-width: 150px;
  }
}
