/* Typography */
body {
  color: $font-base-color;
  font-size: $font-base-size;
  font-family: $font-base-family;
  font-weight: $font-weight-light;
  line-height: $font-base-line-height;
}


h1, h2, h3, h4, p, blockquote, ul, li, dl {
  margin: 0 0 $spacing-base 0;
}

h1 {
  @include setVerticalRhythmn(3.998);
  color: darken($font-display-color, 40%);
  font-weight: $font-weight-bold;
  line-height: 1;
}

h2 {
	@include setVerticalRhythmn(2.827);
	color: darken($font-display-color, 20%);
}

h3 {
  @include setVerticalRhythmn(1.999);
	color: $font-display-color;
  font-weight: $font-weight-semi-bold;
 }

h4 {
  @include setVerticalRhythmn(1.414);
  color: lighten($font-display-color, 20%);
  font-weight: $font-weight-semi-bold;
}

.light-text {
  font-weight: $font-weight-light;
}
