/* Typography */
html {
  font-size: map-get($font-base-sizes, mobile);
  line-height: $font-base-line-height;

  @media #{$tablet-breakpoint} {
    font-size: map-get($font-base-sizes, tablet);
  }

  @media #{$large-desktop-breakpoint} {
    font-size: map-get($font-base-sizes, desktop);
  }
}

body {
  color: $font-base-color;
  font-size: 1em;
  font-family: $font-base-family;
  font-weight: $font-weight-light;
}

h1 {
  @include setVerticalRhythmn(48px);
  color: darken($font-display-color, 40%);
  font-size: pxtoem(48px);
  font-weight: $font-weight-bold;
  line-height: 1;

  @media #{$small-mobile-breakpoint} {
    font-size: pxtoem(36px);
    line-height: 1.1;
  }
}

h2 {
	color: darken($font-display-color, 20%);
  font-size: pxtoem(36px);
  line-height: 1.2;

  @media #{$small-mobile-breakpoint} {
    font-size: pxtoem(21px);
  }
}

h3 {
  @include setVerticalRhythmn(24px);
	color: $font-display-color;
  font-weight: $font-weight-semi-bold;

  @media #{$small-mobile-breakpoint} {
    @include setVerticalRhythmn(18px);
  }
}

h1,
h2,
h3,
p,
blockquote,
ul,
li,
dl {
  margin: 0 0 $spacing-base 0;
}

blockquote {
  q {
    @extend h3;
    line-height: 1.3;
    display: block;

    &::before,
    &::after {
      content: "";
    }
  }

  .quotee {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: middle;
    color: $font-display-color;
    font-weight: $font-weight-bold;
    font-size: pxtoem(14px);

    &::after {
      content: "";
      display: inline-block;
      height: 3px;
      width: 50px;
      background-color: $swatch-brand-yellow;
      vertical-align: middle;
    }
  }
}

.light-text {
  font-weight: $font-weight-light;
}
