/* Typography */
html {
  font-size: map-get($font-base-sizes, standard);
  line-height: $font-base-line-height;

  @media #{$medium-breakpoint} {
    font-size: map-get($font-base-sizes, large);
  }
}

body {
  color: $font-base-color;
  font-size: 1em;
  font-family: $font-base-family;
  font-weight: $font-weight-regular;

  &.dark-theme {
    $paragraph-color: #BCBCBC;

    color: $paragraph-color;
    background-color: $color-eclipse;

    h1,
    h2,
    h3 {
      color: white;
    }
  }
}

h1,
h2,
h3 {
  font-family: $font-display-family;
}

h1 {
  color: darken($font-display-color, 40%);
  font-size: pxtoem(36px);
  font-weight: $font-weight-bold;
  line-height: 1.2;

  @media #{$small-breakpoint} {
    font-size: pxtoem(48px);
  }

  @media #{$medium-breakpoint} {
    font-size: pxtoem(60px);
  }

  @media #{$large-breakpoint} {
    font-size: pxtoem(75px); //84
    line-height: 1.1;
  }
}

h2 {
	color: darken($font-display-color, 20%);
  font-size: pxtoem(24px);
  line-height: 1.3;

  @media #{$small-breakpoint} {
    font-size: pxtoem(36px);
  }

  @media #{$large-breakpoint} {
    font-size: pxtoem(43px); // 48
    line-height: 1.2;
  }
}

h3 {
  font-size: pxtoem(18px);
	color: $font-display-color;
  font-weight: $font-weight-semi-bold;
  margin-bottom: $spacing-s;

  @media #{$small-breakpoint} {
    font-size: pxtoem(24px);
  }

  @media #{$large-breakpoint} {
    font-size: pxtoem(29px); //32
  }
}

h1,
h2,
p,
blockquote,
q,
ul,
li,
dl {
  margin: 0 0 $spacing-base 0;
}

blockquote {
  q {
    color: $font-display-color;
    display: block;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3;

    @media #{$small-breakpoint} {
      font-size: 18px;
    }

    &::before,
    &::after {
      content: "";
    }
  }

  .quotee {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: middle;
    color: $font-display-color;
    font-weight: $font-weight-bold;
    font-size: pxtoem(14px);

    &::after {
      content: "";
      display: inline-block;
      height: 3px;
      width: 50px;
      vertical-align: middle;
    }
  }
}

.light-text {
  font-weight: $font-weight-light;
}

.no-wrap-break {
  @include nowrap(null, true);
}

.no-wrap-break-medium {
  @media #{$medium-breakpoint} {
    @include nowrap(null, true);
  }
}

.italicized-heading {
  font-family: $font-base-family;
  font-style: italic;
  font-weight: $font-weight-regular;
}

.call-out {
  font-size: pxtoem(16px);
  display: table;
  max-width: 600px;

  @media #{$small-breakpoint} {
    font-size: pxtoem(18px);
  }

  @media #{$medium-breakpoint} {
    font-size: pxtoem(21px);
  }

  @media #{$large-breakpoint} {
    font-size: pxtoem(32px);
    max-width: 900px;
  }

  &.call-out-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &.call-out-italic {
    font-style: italic;
  }
}
