/* Souncloud Playlist */

.playlist-column {
    @extend .col-custom;

    .section-block {
        @media screen and (max-width: pxtoem(899)) {
            margin-bottom: 8em;
        }
    }

    @media screen and (max-width: pxtoem(899)) {
        padding-right: 0;
        overflow: hidden;
    }
}

.playlist {
    counter-reset: topten;
    padding-left: 0;

    .thumbnail {
        img {
            @media screen and (max-width: pxtoem(350)) {
                display: none;
            }
        }

        @media screen and (max-width: pxtoem(350)) {
            margin-right: 0;
        }

        @media screen and (max-width: pxtoem(899)) {
            position: absolute;
            top: -123.5px;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 30px 50px 0 rgba(0,0,0, 0.3);
            width: 200px;
            height: 200px;
        }

        @media screen and (min-width: pxtoem(900)) {
            width: 60px;
            margin-right: pxtoem(25);
            vertical-align: top;
            margin-bottom: 0;
        }

    }

    .play-btn-sml {
        position: absolute;
        top: 190px;

        i {
            @media screen and (max-width: 899px) {
              font-size: 15px;
            }
        }

        @media screen and (max-width: pxtoem(899)) {
            width: 41px;
            height: 41px;
            left: 70px;
        }

        @media screen and (min-width: pxtoem(900)) {
            right: 0;
            top: 40%;
            transform: translateY(-40%);
        }

    }

    @media screen and (max-width: pxtoem(899)) {
        width: 100vw;
        display: flex;
        overflow-x: scroll;
        padding-top: pxtoem(140, 10);
    }

    @media screen and (min-width: pxtoem(900)) {
        width: 100%;
        max-width: 500px;
    }
}

.track {
    position: relative;
    width: 100%;

    @media screen and (max-width: pxtoem(350)) {
        padding-left: 0;
    }

    @media screen and (max-width: pxtoem(899)) {
        max-width: 256px;
        display: table;
        margin-right: 15px;
    }

    @media screen and (min-width: pxtoem(900)) {
        width: auto;
        padding-left: pxtoem(40, 10);
        margin-bottom: pxtoem(45, 10);
    }

    &:before {
        counter-increment: topten;
        content: counter(topten);
        position: absolute;
        color: $track-number-carousel;

        @media screen and (max-width: pxtoem(899)) {
            font-family: $display-font-family;
            bottom: 0;
            left: 35px;
            font-weight: 700;
            font-size: pxtoem(180, 10);
        }

        @media screen and (min-width: pxtoem(900)) {
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            font-size: pxtoem(25, 10);
            color: $track-number-listing;
            font-weight: 300;
        }

    }

    &:nth-child(1n + 6) {
        @media screen and (min-width: pxtoem(900)) {
            display: none;
            opacity: 0;
            transition: opacity 500ms linear;
        }

        &.show {
            @media screen and (min-width: pxtoem(900)) {
                display: block;
                opacity: 1;
                transition: opacity 500ms ease;
            }
        }
    }

    *  {
      display: inline-block;
    }

}

.track-artist {
    display: block;
    margin-top: 0;
    margin-bottom: pxtoem(5, 10);
    color: $display-font-color;
    @media screen and (min-width: pxtoem(900)) {
        font-size: 1.4em;
        margin-bottom: pxtoem(5, 14);
    }
}

.track-name {
    color: #7B7B7B;
    font-size: 1.6em;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 300;

    @media screen and (min-width: 900px) {
        font-size: 1.4em;
    }
}

.track-info {
    @media screen and (max-width: pxtoem(899)) {
        background-color: $playlist-track;
        width: 100%;
        display: block;
        height: 265px;
    }

    @media screen and (min-width: pxtoem(900)) {
        max-width: 150px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .inner-wrap {
        @media screen and (max-width: pxtoem(899)) {
          position: relative;
          top: 120px;
          left: 75px;
        }
    }
}


.load-tracks {
    @media screen and (max-width: pxtoem(899)) {
        display: none;
    }

    .link {
        margin-right: 80px;
        font-size: 1.6em;

        &.loaded {
            .minimize {
              opacity: 1;
              transition: 300ms ease;
            }

            .see-all {
              opacity: 0;
              transition: 300ms ease;
            }

            .plus-symbol {
              transform: rotateZ(45deg);
              transition: 300ms ease;
            }

        }

        span {
            display: inline-block;
            transition: 300ms ease;

            &.plus-symbol {
                margin-right: 8px;
                transform: rotateZ(0deg);
            }

            &.action {
                position: absolute;
            }

            &.minimize {
                opacity: 0;
            }
        }

    }
}

.player {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    box-shadow: 0 2px 50px 0 rgba(0,0,0,0.2);
    background-color: $player-skin;
}