@mixin play-btnWithCircle($widtheight){
    width: $widtheight;
    border-radius: 100%;
    height: $widtheight;
    border: 2px solid;
    text-align: center;
    position: relative;
    cursor: pointer;
}

@mixin triangle($direction, $color, $top, $right, $bottom, $left) {
  width: 0;
  height: 0;
  border-width: $top $right $bottom $left;
  border-style: solid;
  border-color: transparent;
  border-#{$direction}-color: $color;
}


@mixin absolutelyCentered($direction:null) {
  position: absolute;
  @if ($direction == 'horizontal') {
    left: 50%;
    transform: translateX(-50%);
  } @else if ($direction == 'vertical') {
    top: 50%;
    transform: translateY(-50%);
  } @else {
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
}

@mixin setVerticalRhythmn($font-size) {
  font-size: pxtoem($font-size);
  line-height: calculateLineHeight(strip-unit($font-size));
}

@mixin clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin nowrap($breakpoint: null, $breakOnNewLine: true) {
  @if ($breakpoint and $breakOnNewLine) {
    @media #{breakpoint} {
      display: block;
      white-space: nowrap;
    }
  } @else if ($breakpoint) {
      @media #{breakpoint} {
        white-space: nowrap;
      }
  } @else if ($breakOnNewLine) {
      display: block;
      white-space: nowrap;
  } @else {
      white-space: nowrap;
  }
}

@mixin paintBrush($placement, $imagePath, $height) {
  position: relative;
  @if ($placement == 'after') {
    &::after {
      content: "";
      background: url(#{$imagePath}) no-repeat center top/cover;
      position: absolute;
      height: $height;
      width: 100%;
      bottom: -#{$height - 1};
      left: 0;
    }
  } @else {
    &::before {
      content: "";
      background: url(#{$imagePath}) no-repeat center top/cover;
      position: absolute;
      height: $height;
      width: 100%;
      top: -#{$height - 1};
      left: 0;
    }
  }
}

@mixin dropShadow {
  box-shadow: 0 26px 45px 0 rgba(0, 0, 0, 0.4);
}

@mixin verticallyAlignChildren {
  display: flex;
  align-items: center;
}
