// RESPONSIVE BREAKPOINTS //

$small-mobile-max: pxtoem(550px);
$large-mobile-max: pxtoem(767px);
$tablet: pxtoem(768px);
$tablet-max: pxtoem(959px);
$small-desktop: pxtoem(960px);
$large-desktop: pxtoem(1200px);
$x-large-desktop: pxtoem(2000px);
$small-mobile-breakpoint: 'only screen and (max-width: #{$small-mobile-max})';
$large-mobile-breakpoint: 'only screen and (max-width: #{$large-mobile-max})';
$tablet-breakpoint: 'only screen and (min-width: #{$tablet})';
$tablet-max-breakpoint: 'only screen and (max-width: #{$tablet-max})';
$small-desktop-breakpoint: 'only screen and (min-width: #{$small-desktop})';
$large-desktop-breakpoint: 'only screen and (min-width: #{$large-desktop})';
$x-large-desktop-breakpoint: 'only screen and (min-width: #{$x-large-desktop})';

// TYPE //

//family
$font-base-family: "Montserrat", sans-serif;
$font-testimonals-open-quote: "Arial Black", sans-serif;

//size
$font-base-sizes:(
  standard: 100%,
  large: 112.5%
);

//weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

//line-height
$font-base-line-height: 1.6;

//color
$font-display-color: #404040;
$font-base-color: #808080;


// SWATCHES //

// Brand Colours //
$swatch-brand-yellow: #FED700;
$swatch-brand-black: #1B1B1B;
$swatch-brand-light-black: lighten($swatch-brand-black, 5%);

// Secondary Colours //
$swatch-color-blue: #6890CA;
$swatch-color-darkblue: #3B5070;
$white: #fff;
$black: #000;

// Blog Post Categories //
$swatch-category-general: #C081FF;
$swatch-category-event: #21A0A8;
$swatch-category-motivation: #878787;

//gallery background image
$swatch-gallery-bg: #F2F2F2;

$browser-context: 16;


//SPACING
$spacing-base: 1rem * $font-base-line-height;
$spacing-s: $spacing-base / 2;
$spacing-xs: $spacing-s / 2;
$spacing-xxs: $spacing-xs / 2;
$spacing-m: $spacing-base * 2;
$spacing-l: $spacing-m * 2;
$spacing-xl: $spacing-l * 2;
$spacing-xxl: $spacing-xl * 2;


//ANIMATION
$animation-base-bezier: cubic-bezier(.46,.09,.48,1.04);
$animation-base-duration: 400ms;

//BOX SHADOW
$box-shadow: 0 2px 40px 0 transparentize($black, 0.75);
