<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <div id="page-wrapper" class="overflow">
      {{ content }}

      {% include footer.html %}
    </div>
    <div class="modal-overlay" data-modal-overlay>
      <div class="modal-content">
        <div class="close-modal" data-trigger-modal>
          <span></span>
          <span></span>
        </div>
        <!-- {% include modals/gallery-modal.html %} -->
        {% include modals/featured-video-modal.html %}
      </div>
    </div>
    <script src="javascript/production/script.js"></script>
  </body>

</html>
