<div class="featured-artists section">
  <div class="container">
    <div class="paragraph-block">
      <h2 class="title-with-divider">The Artists</h2>
      {% include title-divider.html %}
      <p>Learn more about the plethora of talented artists that graced the
        Vocals & Verses stage over the years, ranging from spoken word poetry,
        rap and live music.
      </p>
    </div>

    {% include artist-card.html image="../images/artists/shakka/shakka-avatar.jpg" name="Shakka" %}
  </div>
</div>
