<div class="featured-artists section">
  <div class="container">
    <div class="paragraph-block">
      <h2>The Artists</h2>
      <p>
        Learn more about the plethora of talented artists that graced the
        Vocals & Verses stage over the years, ranging from spoken word poetry,
        rap and live music.
      </p>
    </div>
    <div class="featured-artists-list">
      {% for artist in site.artists %}
        {% if artist.featured %}
          {% include artist-card.html name= artist.title directory= artist.directory
            image= artist.avatar-image jobtitle= artist.jobtitle website= artist.website %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
