#artist-hero {
    overflow: visible;

    .hero-content {
        padding-top: 12em;
        display: flex;

        @media screen and (min-width: pxtoem(551)) and
        (max-width: $large-mobile-max) {
            padding-top: 16em;
        }

        @media #{$small-mobile-breakpoint} {
            padding-top: 5em;
            display: block;
        }
    }

    .artist-bio {
        display: inline-block;
        margin-left: 3em;

        h1 {
            color: white;
            font-weight: 400;
            margin-top: 0;
            font-size: 4em;
            margin-bottom: pxtoem(10, 40);

            @media screen and (max-width: $large-mobile-max) {
                font-size: 3em;
                margin-bottom: pxtoem(10, 30);
            }
        }

        .artist-brief {
            font-size: 1.6em;
            max-width: pxtoem(300, 16);
            margin-bottom: 0.875em;

            @media #{$small-mobile-breakpoint} {
                font-size: 1.4em;
                line-height: 1.5;
                margin-bottom: pxtoem(18, 14);
            }
        }

        @media #{$small-mobile-breakpoint} {
            margin: 1em 0 0;
            display: block;
        }
    }

    @media #{$small-mobile-breakpoint} {
        height: auto;
    }
}

.artist-content {
    p {
      max-width: none;
    }

    @media screen and (min-width: pxtoem(551)) and
    (max-width: $large-mobile-max) {
        margin-top: 10em;
    }

    .section-title {
        margin-bottom: 2.2em;
    }
}

.artist-bio-icons {
    a,
    span {
        display: inline-block;
        margin-right: 13px;
        vertical-align: middle;

        &:last-child {
          margin-right: 0;
        }
    }

    svg {
        fill: white;
        vertical-align: middle;
    }

    .artist-categories {
        display: inline-block;
        margin-right: 2em;

    }

    .social-icons {
        display: inline-block;
    }
}

.artist-gallery {
    margin-top: $margin-sml;

    @media #{$tablet-breakpoint} {
        margin-top: $margin-lrg;
    }
}